body {
  display: flex;
  justify-content: center;
  background-image: url("Mountain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 48px;
  background-color: transparent;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  border: 1px solid black;
  border-radius: 8px;
  padding: 0.7em 2em;
  margin-right: 10px;
}

.unit-btn {
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  font-size: 1em;
  cursor: pointer;
}
.details {
  padding: 24px;
}

.temp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.temp-container > h3,
.temp-container > p {
  margin: 0;
  margin: 5px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
}
